 @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500&display=swap');
@import url(https://db.onlinewebfonts.com/c/ccfdf10ba24124f7c35e43827aec5344?family=Noyh+R+W01+Medium);

*{
  margin: 0;
  box-sizing: border-box; 
  
}

.Content1{
  min-height: 100vh;
  background: url('src/assets/Background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.wave{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: url('src/assets/wave2.png') no-repeat;
  
}

.m-0{
  font-size: 40px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  text-shadow: black 1px;
  text-shadow: 0px 1px 3px gray;
}

.title{
  font-family: "Noyh R W01 Medium";
  color: rgb(255, 255, 255);
  font-size: 60px;
  padding: 20px 40px;
  text-shadow: 0px 1px 2px gray;
}


.title{
  height: 510px;
  width: 750px;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(10px);
  margin: 150px 250px;
  border-radius: 50px;
  box-shadow: none;
}

.navbar{
  padding: 15px;
  backdrop-filter: blur(10px);
  font-family: "Noyh R W01 Medium";
  justify-content: space-around;
}

.p-menubar{
  padding: 15px;
  backdrop-filter: blur(10px);
  
  
}

.navtext{
  font-size: 1.15rem;
  ;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1.7rem; 
  color: rgb(0, 0, 0);
  
  float: right;
}
/* content2 */



.content2{
  margin: 0px auto 7% auto;
  font-family: "Noyh R W01 Medium";
  display: flex;
}

.infocard{
  height: 60px;
  width: 650px;
  /* background-color: rgb(82, 173, 254); */
  color: black;
  margin: 150px 250px;
  border-radius: 50px;
  box-shadow: none;
  font-family: "Noyh R W01 Medium";
}

.infocard h1{
  text-align: center;
  font-size: 60px;
}
.m-1{
  padding: 40px 40px;
  text-align: justify;
  font-size: 35px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.rightcard{
  align-items: right;
  background: url('src/assets/card1.png') no-repeat;
  width: 100%;
  margin-top: 150px;
  
}
.rightcard2{
  background: url('src/assets/card2.png') no-repeat;
  margin-left: 10px;
  height: 100vh;
  margin: -50px 50px;
 
}

.wave2{
  position: absolute;
  width: 100%;
  background-size: cover;
  height: 300px;
  background: url('src/assets/bwave.png') no-repeat;
  margin: -460px 0;
}






.content3{
  padding: 9% 0;
  background-color: #38bdff;
  font-family: "Noyh R W01 Medium";
}

.faq{
  font-family: "Noyh R W01 Medium";
  width: 60%;
  padding: 20px 100px;
  margin: 0 auto;
  border-radius: 20px;
  height: 850px;
  width: 1000px;
  background-color: aliceblue;
  position: relative;
}

.faq h1{
  margin: 10px 10px;
  text-align: center;
  font-size: 60px;
  padding: 10px 0;
}

.m-2{
  font-size: 20px;
  font-family: "Noyh R W01 Medium";
}

.m-3{
  font-size: 20px;
}

.field{
  border-radius: 20px;
  font-family: "Noyh R W01 Medium";
}

.lastwave{
  background: url('src/assets/lastwave.png') no-repeat;
  height: 500px;
  width: 100%;
  margin-top: -500px;
}

.footnote{
  background-color: #222fab;
  padding: 50px;
  text-align: center;
  align-items: justify;
  font-family: "Noyh R W01 Medium";
  color: white;
  margin-top: -60px;
}

.footnote h1{
  margin-bottom: 10px;
  font-size: 40px
}

.footnote h2{
  font-weight: 200;
}

